.header {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;

    @include max(425) {
      flex-wrap: wrap;
    }
  }
}

//begin #LOGO
.header__logo {
  margin-right: 20px;

  @include max(425) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  img {
    display: block;
    width: 100%;
    max-width: 300px;

    @include max(640) {
      max-width: 250px;
    }
    @include max(425) {
      margin: 0 auto;
    }
  }
}

//end #LOGO

//begin #MENU
.header-menu {
  @include max(1240) {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    transition: .5s ease-in-out;
    transform: translateY(-110vh);
    background-color: #000;
  }
  &.active {
    transform: translateY(0);
  }
}

.header-menu__close {
  display: none;
  width: 24px;
  height: 24px;
  margin-bottom: 50px;
  cursor: pointer;

  @include max(1240) {
    display: block;
  }
  &:hover {
    svg {
      transform: rotate(180deg);
    }
  }
  svg {
    fill: #fff;
    width: 24px;
    height: 24px;
    transition: transform .5s ease-in-out;
  }
}

.header-menu__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  @include max(1240) {
    flex-direction: column;
  }
}

.header-menu__item {
  padding: 0 20px;
  list-style: none;

  @include max(1240) {
    padding: 10px 0;
  }
}

.header-menu__link {
  font-size: 18px;
  font-weight: 500;
  transition: .5s;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;

  @include max(1240) {
    font-size: 24px;
  }
  &.active,
  &:hover {
    color: $highlight;
  }
}

.header-menu__btn {
  display: none;
  margin-top: 50px;

  @include max(1240) {
    display: flex;
  }
}

.header-menu__lang {
  display: none;
  margin-top: 20px;

  @include max(1240) {
    display: flex;
  }
}
//end #MENU

//begin #BUTTON
.header__btn {
  display: flex;
  margin-left: 20px;
}

.header-btn {
  flex: none;
  text-decoration: none;

  &:hover {
    span {
      background-color: darken($highlight, 15%);
    }
    svg {
      fill: darken($highlight, 15%);
    }
  }
  span {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 20px 0 20px;
    transition: .5s;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    color: #fff;
    background-color: $highlight;
  }
}

.header-btn__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 30px;
  height: 40px;
  background-color: #fff;

  svg {
    fill: $highlight;
    width: 15px;
    height: 15px;
    transition: .5s;
  }
}

.header__btn {
  @include max(425) {
    margin-left: 0;
  }
  span {
    @include max(640) {
      font-size: 12px;
      height: 25px;
      padding: 2px 9px 0 9px;
    }
  }
  .header-btn__svg {
    @include max(640) {
      width: 25px;
      height: 25px;
    }
    svg {
      @include max(640) {
        width: 10px;
        height: 10px;
      }
    }
  }
}

//end #BUTTON

//begin #BURGER
.header__burger {
  display: none;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 32px;
  height: 32px;
  margin-left: 20px;

  @include max(1240) {
    display: flex;
  }
  svg {
    fill: #fff;
    width: 32px;
    height: 13px;
  }
}

//end #BURGER
