//begin desktop-hidden
.desktop-hidden
  .index-slider__slide.index-slide-04
    .container
      .index-slide__header
        h2.title.index-slide__title Знайти клініку
      ul.index-slide__cities
        li.index-slide__city
          a(href="#").index-slide__city-link Київ
        li.index-slide__city
          a(href="#").index-slide__city-link Львів
        li.index-slide__city
          a(href="#").index-slide__city-link Харків
        li.index-slide__city
          a(href="#").index-slide__city-link Дніпро
        li.index-slide__city
          a(href="#").index-slide__city-link Одеса
        li.index-slide__city
          a(href="#").index-slide__city-link Ужгород
      .index-slide-04__footer
        a(href="#").btn-transparent
          span Інші міста
          .btn-transparent__icon
            +svg('arr-right')
      .index-slider__lang
        include ../elements/language
//end desktop-hidden