mixin doc-slide(pic)
  .docs-slider__slide
    .docs-slider__pic(style="background-image:url('assets/img/info-" + pic + ".jpg');")

      a(href="#").btn-transparent
        span Дивитися
        .btn-transparent__icon
          +svg('arr-right')

      .docs-slider__pic-text
        span Kodel prarasta danti butina kuo SKUBIAU ATSTATYTI?

//begin docs-slider
.docs-slider#docs-slider
  +doc-slide('01')
  +doc-slide('02')
  +doc-slide('01')
  +doc-slide('02')
  +doc-slide('01')
  +doc-slide('02')
//end docs-slider