mixin video-slide(text)
  .video-slider__slide
    .video-slider__slide-inn
      h3.video-slider__title #{text}
      .video-slider__logo
        img(src="assets/img/logo.svg" alt="logo")

      a(data-fancybox="" href="https://www.youtube.com/watch?v=KoezqT2rknI").btn-transparent
        span Дивитись
        .btn-transparent__icon.btn-transparent__icon--video
          +svg('video')

//begin videos-slider
.video-slider#video-slider
  +video-slide('Как побороть страх перед стоматологическим лечением')
  +video-slide('Как побороть страх перед стоматологическим лечением')
  +video-slide('Как побороть страх перед стоматологическим лечением')
  +video-slide('Как побороть страх перед стоматологическим лечением')
  +video-slide('Как побороть страх перед стоматологическим лечением')
  +video-slide('Как побороть страх перед стоматологическим лечением')
//end videos-slider