*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0 0 10px 0;
}

p {
  margin: 0 0 10px 0;

  @include responsive-font(20, 16);
  strong {
    font-weight: 700;
  }
}

span {
  @include responsive-font(22, 16);
}

a {
  transition: color .5s;
  text-decoration: none;
  color: $highlight;
  &:hover {
    color: $highlight-hov;
  }
}

ol,
ul {
  li {
    padding: 0;
  }
}

ul {
  li {
    // путь к кастомной картинке пункта ul
    // list-style-image: url('../img/ul.png');
  }
}

//кастомные пункты списка с цифрами
ol {
  // list-style: none;
  // @include counter(li);
  li::before {
    // color: $brand;
  }
}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

input {
  padding: 3px 10px 5px 10px;
  color: #fff;
  border: 1px solid #fff;
  &::placeholder {
    @include placeholder-color(#fff);
  }
}

textarea {
  resize: none;
}

input.error,
textarea.error {
  border-color: #ed1b24 !important;
  background: #fbd1d3 !important;
}

svg {
  display: block;
  overflow: visible;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  //свойство для исправления бага 100vh для мобильных
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  //свойство для плавной прокрутки на яблоках

  -webkit-overflow-scrolling: touch;
}

.main {
  flex-grow: 1;
  padding-top: 150px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

.title {
  line-height: 1;

  @include responsive-font(60, 35);
}

.subtitle {
  line-height: 1;

  @include responsive-font(38, 20);
}

.highlight-text {
  font-style: normal;
  color: $highlight;
}

.btn-transparent {
  display: flex;
  align-items: center;
  cursor: pointer;

  transition: .5s;
  text-decoration: none;
  border: 2px solid $highlight;
  &:hover {
    border: 2px solid $highlight-hov;
    .btn-transparent__icon {
      background-color: $highlight-hov;
    }
    span {
      color: $highlight-hov;
    }
  }

  svg {
    fill: #fff;
    width: 24px;
    height: 15px;
  }
  span {
    font-size: 18px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 170px;
    height: 40px;
    padding: 5px 10px;
    transition: .5s;
    text-align: center;
    white-space: nowrap;
    color: #fff;
  }
  .btn-transparent__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    transition: .5s;
    background-color: $highlight;
  }
}
