extends ../_template

block variables
  - var title       = 'Straumann'
  - var description = 'Straumann'
  - var ogtitle     = 'Straumann'

  - var pageHeaderTitle = 'Straumann'
  - var breadcrumbs     = 'breadcrumbs'

block content
  .main-wrap
    include ../sections/header

    //begin content
    main.main.index
      //begin index__slider
      .index__slider.index-slider#index-slider
        .index-slider__item.index-slider__item--01
      //end index__slider

    //end content

    include ../sections/footer
    include ../sections/scripts
