extends ../_template

block variables
  - var title       = 'Straumann'
  - var description = 'Straumann'
  - var ogtitle     = 'Straumann'

  - var pageHeaderTitle = 'Straumann'
  - var breadcrumbs     = 'breadcrumbs'

block content
  .main-wrap.no-js
    include ../sections/header

    //begin content
    main.main.index
      .container
    //end content

    include ../sections/footer
    include ../sections/scripts
