extends ../_template

mixin info__press-item(pic)
  a(href="#").info__press-item.info-press-item
    .info-press-item__pic
      img(src="assets/img/info-press-item-" + pic + ".jpg" alt="picture")
    .info-press-item__info
      h3.info-press-item__title Это #TimeForEducation с современным контентом от ведущих экспертов
      .info-press-item__footer
        .info-press-item__footer-date 20 Apr 2020
        .info-press-item__footer-hash #Education

block variables
  - var title       = 'Straumann'
  - var description = 'Straumann'
  - var ogtitle     = 'Straumann'

  - var pageHeaderTitle = 'Straumann'
  - var breadcrumbs     = 'breadcrumbs'

block content
  .main-wrap
    include ../sections/header

    //begin content
    main.main.inner
      .container
        //begin inner-row
        .inner-row
          h2.title.inner-row__title Cовместимость зубных имплантатов. Что это?
        //end inner-row
          
        //begin inner-row
        .inner-row
          .inner-row__50.inner-row__50--first
            h3.inner-row__subtitle Многие статьи имеют заголовки:
            p надежный выбор, цитата - решение на всю жизнь и тд. Конечно, только звук заголовки не создают доверия для пометов, поэтому они ищут информация и копается в фактах, которые лежат в основе этих фраз. Активный интерес к свойствам имплантатов радует, потому что конкретные факты помогают пациентам делать правильные решения. Почему именно импланты Straumann выбора врачей и пациентов нет. 1 в мире?
          .inner-row__50
            h3.inner-row__subtitle SLA поверхность - более короткие нити
            p надежный выбор, цитата - решение на всю жизнь и тд. Конечно, только звук заголовки не создают доверия для пометов, поэтому они ищут информация и копается в фактах, которые лежат в основе этих фраз. Активный интерес к свойствам имплантатов радует, потому что конкретные факты помогают пациентам делать правильные решения. Почему именно импланты Straumann выбора врачей и пациентов нет. 1 в мире?
          .inner-row__100
            p надежный выбор, цитата - решение на всю жизнь и тд. Конечно, только звук заголовки не создают доверия для пометов, поэтому они ищут информация и копается в фактах, которые лежат в основе этих фраз. Активный интерес к свойствам имплантатов радует, потому что конкретные факты помогают пациентам делать правильные решения. Почему именно импланты Straumann выбора врачей и пациентов нет. 1 в мире?
            p надежный выбор, цитата - решение на всю жизнь и тд. Конечно, только звук заголовки не создают доверия для пометов, поэтому они ищут информация и копается в фактах, которые лежат в основе этих фраз. Активный интерес к свойствам имплантатов радует, потому что конкретные факты помогают пациентам делать правильные решения. Почему именно импланты Straumann выбора врачей и пациентов нет. 1 в мире?
        //end inner-row

        //begin inner-row
        .inner-row.inner-row--picture
          .inner-row__pic
            img(src="assets/img/inner-pic.jpg" alt="picture")
          .inner-row__100
            h3.inner-row__subtitle Имплантаты Straumann изготавливаются с применением специальной обработки поверхности технология.
            blockquote.inner-row__blockquote "Надежный выбор, цитата - решение на всю жизнь и тд. Конечно, только звук заголовки не создают доверия для пометов, поэтому они ищут информация и копается в фактах, которые лежат в основе этих фраз. Активный интерес к свойствам имплантатов радует, потому что конкретные факты помогают пациентам делать правильные решения. Почему именно импланты Straumann выбора врачей и пациентов нет. 1 в мире?"
            .inner-row__btn
              a(href="#").btn-transparent
                span Про Straumann
                .btn-transparent__icon
                  +svg('arr-right')
        //end inner-row

        //begin inner-row
        .inner-row
          .inner-row__100
            h3.inner-row__subtitle SLA поверхность - более короткие нити
            p надежный выбор, цитата - решение на всю жизнь и тд. Конечно, только звук заголовки не создают доверия для пометов, поэтому они ищут информация и копается в фактах, которые лежат в основе этих фраз. Активный интерес к свойствам имплантатов радует, потому что конкретные факты помогают пациентам делать правильные решения. Почему именно импланты Straumann выбора врачей и пациентов нет. 1 в мире?
            p надежный выбор, цитата - решение на всю жизнь и тд. Конечно, только звук заголовки не создают доверия для пометов, поэтому они ищут информация и копается в фактах, которые лежат в основе этих фраз. Активный интерес к свойствам имплантатов радует, потому что конкретные факты помогают пациентам делать правильные решения. Почему именно импланты Straumann выбора врачей и пациентов нет. 1 в мире?
          .inner-row__btn
            a(href="#").btn-transparent
              span Знайти клініку
              .btn-transparent__icon
                +svg('arr-right')
        //end inner-row

        //begin info-row
        .info-row.info-row--video
          h2.title.info-row__title Відео
          include ../elements/video-slider
        //end info-row

        include ../sections/desktop-hidden
    //end content

    include ../sections/footer
    include ../sections/scripts
